## WARN: this is a template rendered from a file in $reporoot/templates/files/
image: "circonus/circonus-kubernetes-agent:latest"
circonus_api_url: "https://api.circonus.com/v2/"
circonus_api_key: ""
contact_email: ""
broker_cid: "/broker/35"
kubernetes_name: ""
dns:
  port: "10055"
metric_filters: |
{{ .data.metric_filters | indent 2 }}
