# MacOS
.DS_Store

.envrc

# Vagrant
.vagrant*/

# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool
*.out

# goreleaser files
dist/

# binaries
ckatest
*.elf

# test configs etc
test/

changelog.yml
