# MacOS
.DS_Store

.envrc

# Vagrant
.vagrant*/

# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool
*.out

# goreleaser files
dist/

# binaries
ckatest
*.elf

# test configs etc
test/

changelog.yml

.sops.yaml
.prow/tf/gcp/logs/
.prow/tf/gcp/.terraform
.prow/tf/gcp/.terraform.lock.hcl
.prow/tf/gcp/terraform.tfstate.d
.prow/helm/logs/
